html, body{
  Background: white;
}

#conteneur {
    width: 700px;
    height: 500px;
    border: 0px solid #333;
    margin: 0 auto;
    text-align: center;
    background: #10202D;
  }

  h1{
    text-align: center;
    color: red;
  }
  h1:hover{
    color:#10202D;
  }
